/* 针对 Webkit 内核浏览器 */
::-webkit-scrollbar {
    width: 4px; /* 垂直滚动条宽度 */
    height: 4px; /* 水平滚动条高度 */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* 滚动条轨道背景色 */
}

::-webkit-scrollbar-thumb {
    background: #888; /* 滚动条滑块颜色 */
    border-radius: 2px; /* 滚动条滑块圆角 */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* 滚动条滑块在悬停时的颜色 */
}